.sidebar {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.sidebar .logo {
  width: 213.46px;
    height: 95.06px;
  }

.sidebar .logo-cel {
  display: none;
}

.sidebar .new-tweet {
  background: radial-gradient(circle, rgba(29,161,242,1) 0%, rgba(0,32,191,1) 100%);
  border-radius: 9999px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 1.25rem;
  font-weight: 900;
  border: 0;
  transition: .3s ease;
  
}
.sidebar .new-tweet a {
text-decoration: none;
  
}

.sidebar .new-tweet:hover {
  background: radial-gradient(circle, rgb(3, 120, 192) 0%, rgb(0, 18, 110) 100%);
  transform: scale(110%);

}

.main-navagation {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.main-navagation a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  transition: .3s ease;

}

.main-navagation a.active {
  color: var(--twitter-blue);
}

.main-navagation a svg {
  width: 2rem;
  height: 2rem;
}

.main-navagation a:hover {
  opacity: .6;
  transform: scale(110%);
}
@media (max-width: 780px) {
  .sidebar {
    padding: 1.25rem 0.75rem;
    align-items: center;
  }

  .main-navagation a span {
    display: none;
  }

  .sidebar .new-tweet {
    display: none;
  }

  .sidebar .logo {
    display: none;
  }

  .sidebar .logo-cel {
    display: block;
    width: 60px;
    height: auto;
  }
.main-navagation a svg {
width: 1.4rem;
height: 1.4rem;
}
}