:root {
  --giant: #f6901a;
  --goblin: #82bb30;
  --wizard: #4facff;
  --border-radius-size: 14px;
}

.slide-container {
  width: 100%;
  height: auto;
  flex-direction: row;
  gap: 5%;
  font-size: 1rem;
  padding: 2.5rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.new-tweet {
  background: var(--twitter-blue);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

  border-radius: 9999px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 1.25rem;
  font-weight: 900;
  border: 0;
  transition: .3s ease;
}

.new-tweet:hover {
  opacity: .9;
  transform: scale(104%);

}

.texto-name {
  font-size: 1.25rem;
}

.slide-container .p {
  align-items: center;
  margin: auto;
}

.wrapper {
  padding-top: 0;
  padding-bottom: 40px;

  &:focus {
    outline: 0;
  }
}

.clash-card {
  background: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 25px;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  height: 200px;
  margin-bottom: 35px;
  border-top-left-radius: var(--border-radius-size);
  border-top-right-radius: var(--border-radius-size);
}

.clash-card__image--barbarian {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");

  img {
    width: auto;
    height: 120%;
    position: absolute;
    top: -40px;
    left: 0px;
  }
}

.clash-card__image--barbarian .avatar-um {
  border-radius: 0;
  max-width: 100%;
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: #ec9b3b;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian {
  background: var(--twitter-blue);

  .one-third {
    border-right: 1px solid #ffffff;
  }
}

.clash-card__unit-stats--archer {
  background: #ee5487;

  .one-third {
    border-right: 1px solid #d04976;
  }
}

.clash-card__unit-stats--giant {
  background: var(--giant);

  .one-third {
    border-right: 1px solid darken(--giant, 8%);
  }
}

.clash-card__unit-stats--goblin {
  background: var(--goblin);

  .one-third {
    border-right: 1px solid darken(--goblin, 6%);
  }
}

.clash-card__unit-stats--wizard {
  background: var(--wizard);

  .one-third {
    border-right: 1px solid darken(--wizard, 6%);
  }
}

.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: var(--border-radius-size);
  border-bottom-right-radius: var(--border-radius-size);

  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }

  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }

  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}
@media (max-width: 780px) {
  .slide-container {
    display: none;

  }
}